body {
  background-color: #000;
}
h1 {
  color: limegreen;
  text-align: center;
}
.battle-board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: 0 auto;
  margin-top: 50px;
  background: url("../img/board.jpg") no-repeat;
}
.modal-window{
  position: relative;
  width: 1024px;
  height: 850px;
  background: url(../img/1332517980_battleship02.jpg) no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: 100;
}
iframe {
  display: none;
}
.modal-window-close {
  opacity: 0;
  -webkit-transition: 1s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0) rotate(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}
.modal-button {
  position: absolute;
  width: 250px;
  height: 30px;
  bottom: 60px;
  left: 50%;
  margin-left: -100px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  font-family: "Elephant";
  color: firebrick;
}
.modal-button:hover {
  background: firebrick;
  color: silver;
}
.modal-button:active {
  background: red;
}

.message-area {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: rgb(83, 175, 19);
}
table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0;
}
td {
  width: 94px;
  height: 94px;
}
form {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  border-color: rgb(83, 175, 19);
}
form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
  text-transform: uppercase;
}
.hit {
  background: url("../img/ship.png") no-repeat center center;
}
.miss {
  background: url("../img/miss.png") no-repeat center center;
}